:root {
  /* --fa-primary-color: #525252; */
  --primary-color: #525252;
  --secondary-color: #e1e1e1;
  --accent-color: #737373;
}
body {
  font-family: "Nanum Myeongjo", serif;
}

.name {
  
  font-weight: bold;
}
navbar {
  font-weight: bold;
  background: var(--primary-color);
  padding: 20px 20px;
  
}
navbar a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
  color: white;

}
navbar .active {
  -moz-text-shadow:0 0 10px #fff;
  -webkit-text-shadow:0 0 10px #fff;
  text-shadow:0 0 15px #fff;
}
navbar a:hover {
  color: black;
  
}

.navbar-navigation {
  gap: 20px;
}
/* .navbar a {
  font-weight: bold;
} */

.footer a {
  color: var(--primary-color);
  font-size: 22px;
}
p {
  line-height: 30px;
  font-size: 18px;
}

h1 {
  font-weight: bold;
  font-size: 64px;
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 48px;
}

.hero {
  padding: 200px 20px;
  text-align: center;
  background: var(--secondary-color);
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h1 {
  font-size: 96px;
  font-style: bold;
}

.btn-project,
.btn-about {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  display: block;
  max-width: 200px;
  text-align: center;
  border-radius: 4px;
}

.btn-contact {
  margin: 20px auto;
  padding: 10px 30px;
  border: 1px solid black;
  background: #b5b5b5;
}

.btn-contact:hover {
  border: 1px solid black;
  background: var(--accent-color);
  cursor: pointer;

  color: white;
}

.project-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.project-description {
  padding: 20px;
}

.content-container {
  padding: 160px 20px;
}

.content h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}

.content p {
  font-size: 16px;
}


@media (max-width: 992px) {
  .project-description {
    padding: 10px;
    text-align: center;
  }

  .btn-project {
    display: block;
    margin: 0 auto;
  }

  h1 {
    font-size: 52px;
  }
  h3 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .project-name {
    text-align: center;
    font-size: 24px;
  }

  .link-primary {
    margin: 20px auto;
  }

  h1 {
    font-size: 46px;
  }
  .hero h1 {
 font-size: 64px;
  }
  .hero p {
    font-size: 24px;
  }
  .content-container {
    padding: 100px 20px;
  }

  .content {
    text-align: center;
  }

  .btn-about {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  h1,
  .hero h1 {
    font-size: 32px;
  }
  .hero {
    padding: 100px 20px;
  }

  .hero p {
    font-size: 18px;
  }

  .navbar-brand {
    font-size: 14px;
  }
  .project-title {
    font-size: 18px;
  }

.navbar-navigation a,
.name a {
  font-size: 14px;
}


}
