body {
  font-family: "Nanum Myeongjo", serif;
}

img {
  max-width: 400px;
}

.navbar a {
  font-weight: bold;
}

p {
  line-height: 30px;
}
h1 {
  font-weight: bold;
  margin: 0;
}
h2 {
  font-weight: bold;
  font-size: 48px;
}

.hero {
  padding: 200px 0;
  text-align: center;
  /* height: 100vh; */
  background: #e1e1e1;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h1 {
  font-size: 96px;
  font-style: bold;
}

.btn-project {
  padding: 10px 15px;
  border: 1px solid #525252;
  color: #525252;
  font-weight: bold;
  text-decoration: none;
  display: block;
  max-width: 200px;
  text-align: center;
  border-radius: 4px;
}

.btn-contact {
  margin: 20px auto;
  padding: 10px 30px;
  border: 1px solid black;
  background: #b5b5b5;
}

.btn-contact:hover {
  border: 1px solid black;
  background: #737373;
  cursor: pointer;

  color: white;
}

.project-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.project-description {
  padding: 50px 30px;
}

@media (max-width: 992px) {
  .project-description {
    padding: 10px;
    text-align: center;
  }

  .btn-project {
    display: block;
    margin: 0 auto;
  }
  p {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .project-name {
    text-align: center;
    font-size: 24px;
  }

  .link-primary {
    margin: 20px auto;
  }

  .hero h1 {
    font-size: 46px;
  }
  .hero p {
    font-size: 24px;
  }
  .hero h3 {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 32px;
  }
  .hero p {
    font-size: 18px;
  }
  .hero h3 {
    font-size: 14px;
  }
  .navbar-brand {
    font-size: 14px;
  }
  .project-title {
    font-size: 18px;
  }
}
