body {
  font-family: "Nanum Myeongjo", serif;
}

.navbar a {
  font-weight: bold;
}

p {
  line-height: 30px;
  font-size: 18px;
}

h1 {
  font-weight: bold;
  font-size: 64px;
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 48px;
}

.hero {
  padding: 200px 20px;
  text-align: center;
  background: #e1e1e1;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h1 {
  font-size: 96px;
  font-style: bold;
}

.btn-project,
.btn-about {
  padding: 10px 15px;
  border: 1px solid #525252;
  color: #525252;
  font-weight: bold;
  text-decoration: none;
  display: block;
  max-width: 200px;
  text-align: center;
  border-radius: 4px;
}

.btn-contact {
  margin: 20px auto;
  padding: 10px 30px;
  border: 1px solid black;
  background: #b5b5b5;
}

.btn-contact:hover {
  border: 1px solid black;
  background: #737373;
  cursor: pointer;

  color: white;
}

.project-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.project-description {
  padding: 20px;
}

.content-container {
  padding: 160px 20px;
}

@media (max-width: 992px) {
  .project-description {
    padding: 10px;
    text-align: center;
  }

  .btn-project {
    display: block;
    margin: 0 auto;
  }

  h1 {
    font-size: 52px;
  }
  h3 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .project-name {
    text-align: center;
    font-size: 24px;
  }

  .link-primary {
    margin: 20px auto;
  }

  h1 {
    font-size: 46px;
  }
  .hero h1 {
 font-size: 64px;
  }
  .hero p {
    font-size: 24px;
  }
  .content-container {
    padding: 60px 20px;
  }
  h1,
  h3,
  p {
    text-align: center;
  }

  .btn-about {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  h1,
  .hero h1 {
    font-size: 32px;
  }
  .hero {
    padding: 100px 20px;
  }

  .hero p {
    font-size: 18px;
  }

  .navbar-brand {
    font-size: 14px;
  }
  .project-title {
    font-size: 18px;
  }

 
}
